@import '../../variables'

a
    color: $light-color

header
    display: flex
    align-items: center
    padding: 30px    

    nav
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        font-size: 14pt

        .sauron
            font-size: 25pt
            font-weight: bold

        ul
            display: flex

            li
                padding-left: 7em