/* You can add global styles to this file, and also import other style files */ 
@import 'variables'

@font-face 
    font-family: Fjalla One
    src: url(/assets/font/FjallaOne-Regular.ttf) format("opentype")

*
    margin: 0
    padding: 0
    font-family: 'Fjalla One', sans-serif


body
    background-color: $principal-color
