<section class="home">
  <div class="sauron">
    <p>O olho que <b>tudo vê.</b></p>
    <p>Diretamente da</p>
    <p>terra média, <b>Sauron.</b></p>
  </div>

  <div class="steps line-all">      
    <hr class="diagonal-line-one">
    <hr class="diagonal-line-two">
    <div class="step line-left">
      <b>What?</b>
      <p>O que é o Sauron?</p>
    </div>
    <div class="step line-left">
      <b>Passo 1</b>
      <p>Achar um rosto em uma imagem</p>
    </div>
    <div class="step line-left">
      <b>Passo 2</b>
      <p>Verificar se pessoa está cadastrada</p>
    </div>    
    <div class="step line-left line-right">
      <b>Passo 3</b>
      <p>Geração do Relatório</p>
    </div>
  </div>

  <div class="teste"></div>
</section>