@import '../../variables'

.home
    .sauron
        width: 500px
        margin: 10% 0 0 14%

        p
            font-size: 36pt

            b
                color: $red-color

        p:first-child
            font-size: 14pt
    
    .steps 
        display: flex
        justify-content: center
        align-items: center
        margin-top: 60px
        background-color: $dark

        .step
            width: 16vw
            height: 20vh
            padding: 2% 0 0 2%

            b
                color: $red-color

            p
                font-size: 16pt    

        .diagonal-line-one
            border: none
            border-top: 1px solid $line-color
            content: ""
            position: absolute
            width: 100%
            transform: rotate(-45deg)
            transform-origin: 8% 80%
        
        .diagonal-line-two
            border: none
            border-top: 1px solid $line-color
            content: ""
            position: absolute
            width: 100%
            transform: rotate(-47deg)
            transform-origin: 100% 80%
            top: -26em
            // transform: rotate(-47deg)
            // transform-origin: 41% 80%

    .teste 
        width: 100%
        height: 500px

